@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  @apply fixed top-0 w-full bg-gray-800/50 text-white py-2 z-30 transition-opacity pointer-events-none duration-200 ease-in
}

.footer {
  @apply fixed bottom-0 w-full bg-gray-800 text-center pointer-events-none
}

.prompt-input {
  @apply w-[90vw] md:w-full p-2 px-4 my-4 bg-slate-50 border-2 border-gray-400 border-spacing-1 rounded-full text-black
}

.prompt-button {
  @apply w-full my-4 h-24 max-w-24 max-h-24 bg-red-500 text-white rounded-full border-4 border-gray-800 border-spacing-1 hover:bg-red-600 cursor-pointer font-bold transition-opacity duration-200 ease-in
}

.basic-animation {
  @apply transition-all duration-500 ease-in-out
}

.opacity-animation {
  @apply transition-opacity duration-500 ease-in-out
}

body {
  /* font-family: Arial, sans-serif; */
  margin: 0;
  background-color: #f4f4f4;
}

.korean {
  @apply font-korean
}

h2 {
  @apply px-4 text-lg md:text-2xl font-semibold 
}

li {
  padding: 4px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
